<!-- middle infinite scrolling section -->
<h1>Landing</h1>
<section class="col-xs-12 main-section">
  <div class="row full-screen red-background overflow-scroll push-down">
      <div id="recipes" class="col-sm-11 col-sm-offset-1"></div>
  </div>
  <div class="row full-screen green-background overflow-scroll">
      <div id="shopping" class="col-sm-11 col-sm-offset-1"></div>
  </div>
  <div class="row full-screen lightBlue-background overflow-scroll">
    <div id="schedule" class="col-sm-11 col-sm-offset-1"></div>
  </div>
  <div class="row full-screen yellow-background overflow-scroll">
    <div id="payment" class="col-sm-11 col-sm-offset-1"></div>
  </div>
</section>
