<!-- middle infinite scrolling section -->
<h1>Cooker</h1>
<section class="col-xs-12 main-section">
  <div class="row full-screen red-background">
      <div id="shopping"></div>
  </div>
  <div class="row full-screen green-background">
      <div id="schedule"></div>
  </div>
  <div class="row full-screen lightBlue-background"></div>
  <div class="row full-screen yellow-background"></div>
</section>
