<!-- left navbar -->
<section class="col-xs-12 col-sm-2 left-side-navbar hidden-print">
  <ul class="list-group side-nav">
    <a href="#recipe-anchor" class="list-group-item red-background"><%= image_tag "recipe.png" %></a>
    <a href="#shopping" class="list-group-item green-background"><%= image_tag "shopping-list.png" %></a>
    <a href="#schedule" class="list-group-item lightBlue-background"><%= image_tag "shopping-cart.png" %></a>
    <a href="#payment" class="list-group-item yellow-background"><%= image_tag "payment-method.png" %></a>
  </ul>
</section>
