<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="global.css" />
</head>
<body>
  <nav class="navbar navbar-default header fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ingredients Today</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-sm hidden-md hidden-lg text-right"><a href="#">My Favorites</a></li>
          <li class="hidden-sm hidden-md hidden-lg text-right"><a href="#">My Orders</a></li>
          <li class="hidden-sm hidden-md hidden-lg text-right"><a href="#">My Profile</a></li>
          <li class="hidden-sm hidden-md hidden-lg text-right"><a href="#">Log Out</a></li>
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Username <img class="user-icon" src="user-icon.svg" /><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">My Favorites</a></li>
              <li><a href="#">My Orders</a></li>
              <li><a href="#">My Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <!-- left navbar -->
    <section class="col-xs-12 col-sm-2 left-side-navbar">
      <ul class="list-group side-nav">
        <a href="#" class="list-group-item red-background"><img src="recipe.png" alt="Recipes"></a>
        <a href="#" class="list-group-item green-background"><img src="shopping-list.png" alt="Shopping List"></a>
        <a href="#" class="list-group-item lightBlue-background"><img src="shopping-cart.png" alt="Place Order"></a>
        <a href="#" class="list-group-item yellow-background"><img src="payment-method.png" alt="Pay for Order"></a>
      </ul>
    </section>

    <!-- middle infinite scrolling section -->
    <section class="col-xs-12 main-section">
      <div class="row full-screen red-background"></div>
      <div class="row full-screen green-background"></div>
      <div class="row full-screen lightBlue-background"></div>
      <div class="row full-screen yellow-background"></div>
    </section>
  </main>
  <!-- Scripts go here. -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="global.js"></script> -->
</body>
</html>
